@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {background: #444; width: 12px;} /* barra de rolagem toda */
::-webkit-scrollbar-thumb {background: #444; border-radius: 0;} /* parte da barra que se movimenta */
::-webkit-scrollbar-track {background: #e7e7e7;} /* fundo da barra de rolagem, parte fixa */
::-webkit-scrollbar-track-piece {background:#e7e7e7;} /* fundo da barra de rolagem, parte que ainda falta rolar */
::-webkit-scrollbar-cosrner {background: dotted;} /* canto inferior direito da barra de rolagem */

body.dark::-webkit-scrollbar-track-piece {
    background:#222;
}